<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name_sei %>
    <%= f.text_field :name_sei, autofocus: true, autocomplete: "name_sei" %>
  </div>

  <div class="field">
    <%= f.label :name_mei %>
    <%= f.text_field :name_mei, autofocus: true, autocomplete: "name_mei" %>
  </div>

  <div class="field">
    <%= f.label :yomi_sei %>
    <%= f.text_field :yomi_sei, autofocus: true, autocomplete: "yomi_sei" %>
  </div>

  <div class="field">
    <%= f.label :yomi_mei %>
    <%= f.text_field :yomi_mei, autofocus: true, autocomplete: "yomi_mei" %>
  </div>

  <div class="field">
    <%= f.label :mail_address %>
    <%= f.email_field :mail_address, autofocus: true, autocomplete: "mail_address" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.email_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :tell %>
    <%= f.telephone_field :tell, autofocus: true, autocomplete: "tell" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
