<div class="midasi">
	<h2>ジャンル編集</h2>
</div>

<div class="genre_form">
<%= form_for @genre, url: admins_product_genre_path(@genre.id) do |f| %>
		<%= f.label :ジャンル %>
		<%= f.text_field :genre %>
		<%= f.radio_button :is_valid, :true %>
		<%= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
  		<%= f.radio_button :is_valid, :false %>
  		<%= f.label :is_valid, "無効", {value: :false, style: "display: inline-block;"} %>
  		<%= f.submit '変更' %>
<% end %>
</div>