
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
    <h2 class="product_index_title">お買い物かご<i class="fas fa-cookie-bite"></i></h2>
<% if @cart_products.any? %>
        <h5>現在カートには下記の商品が入っております。</h5><br><br>

<div class="right"><!-- 右寄せ -->
  <%= button_to "カートを空にする", customers_destroy_all_path, method: :delete, class:"btn btn-danger" %>
</div>
<br>

<div>
  <table class="table1">
    <thead>
      <tr>
        <th class="table1"></th>
        <th class="table1">商品名</th>
        <th class="table1">単価（税込）</th>
        <th class="table1">数量</th>
        <th class="table1">小計</th>
        <th class="table1"></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_products.each do |cart_product| %>
      <tr>
        <td class="table1">

          <%= attachment_image_tag cart_product.product, :picture, format: 'jpeg', fallback: "no_image.jpg", size: "150x110" %>
        </td>
        <td class="table1">
          <%= cart_product.product.name %>
        </td>
        <td class="table1">
          <%= (cart_product.product.price * 1.1).to_i %>円
        </td>
        <td class="table1">
          <%= form_for cart_product, url: customers_cart_product_path(cart_product.id),method: :PATCH do |f| %>
          <%= f.select :number,[1,2,3,4,5,6,7,8,9,10], :pronpt => "個数選択", class: 'sentaku' %><!--フォームの中身 -->
          <%= f.submit "変更" %>
          <% end %>
        </td>
        <td class="table1">
          <%= (cart_product.product.price * 1.1).to_i * cart_product.number %>円
        </td>
        <td class="table1">
          <%= link_to "", customers_cart_product_path(cart_product.id),method: :delete, class:"fas fa-trash fa-lg trash_black" %> <!-- 押された後ルートに確認してコントローラーに -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<div class="keep_shopping">
  <%= link_to "買い物を続ける", customers_products_path, class:"btn btn-success" %><!-- 商品一覧画面に遷移 -->
</div>

<div>
  <table>
      <tr>
        <th><p class="total_pprice1">合計金額 ： </p></th>
        <td><p class="total_pprice2"><%= current_customer.total_cart_price %>円（税込)</p></td><!-- 合計金額記述 -->
      </tr>
  </table>
</div>
<div class=right>
  <%= link_to "  ご購入手続きへ",customers_order_lists_input_path, class:"btn btn-warning btn1 fas fa-shopping-cart fa-lg" %><!-- 情報入力に進むボタン -->
</div>

<% else %>
  <h3>現在お客様のショッピングカートには商品がありません。</h3>
  <div class="keep_shopping">
        <%= link_to "買い物を続ける", customers_products_path, class:"btn btn-success" %><!-- 商品一覧画面に遷移 -->
  </div>

<% end %>
  </div>
  </div>
</div>