<div class="midasi">
	<h3 class="midasitext"><%= @customer.name_sei %><%= @customer.name_mei %>さんの会員情報編集</h3>
</div>

<div class="customer_contents">

<%= form_for @customer, url: admins_customer_path(@customer.id) do |f| %>
	<div class="customer_id">
		<div class="admin_c_label"><p>顧客ID</p></div>
			<%= @customer.id %>
		</div>
		<div class="customer_name">
			<div class="admin_c_label">
				<%= f.label :氏名 %>
			</div>
			<%= f.text_field :name_sei %><%= f.text_field :name_mei %>
		</div>
		<div class="customer_name">
			<div class="admin_c_label">
				<%= f.label :フリガナ %>
			</div>
			<%= f.text_field :yomi_sei %><%= f.text_field :yomi_mei %>
		</div>
		<div class="customer_postcode">
			<div class="admin_c_label">
				<%= f.label :郵便番号 %>
			</div>
			<%= f.text_field :postal_code %>
		</div>
		<div class="customer_address">
			<div class="admin_c_label">
				<%= f.label :住所 %>
			</div>
			<%= f.text_field :address %>
		</div>
		<div class="customer_tell">
			<div class="admin_c_label">
				<%= f.label :電話番号 %>
			</div>
			<%= f.text_field :tell %>
		</div>
		<div class="customer_email">
			<div class="admin_c_label">
				<%= f.label :メールアドレス %>
			</div>
			<%= f.text_field :email %>
		</div>
		<div class="customer_status">
			<div class="admin_c_label">
				<%= f.label :顧客ステータス %>
			</div>
			<%= f.radio_button :status, :effective %>
			<%= f.label :status, "有効", {style: "display: inline-block;"} %>
  			<%= f.radio_button :status, :uneffective %>
  			<%= f.label :status, "退会済み", {style: "display: inline-block;"} %>
		</div>
		<div class="c_button">
  			<%= f.submit '変更を保存する' %>
  		</div>
<% end %>
</div>