<div class="midasi">
	<h4 class="midasitext"><%= @customer.name_sei %><%= @customer.name_mei %>さんの会員詳細</h4>
</div>

<div class="customer_contents">
		<div class="customer_content">
			<div class="admin_c_label"><p>顧客ID</p></div>
			<div class="explain_text">
				<%= @customer.id %>
				<div class="c_status">
					<% if @customer.status == true %>
						<p>有効</p>
					<% else %>
						<p>退会済み</p>
					<% end %>
				</div>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>氏名</p></div>
			<div class="explain_text">
				<%= @customer.name_sei %><%= @customer.name_mei %>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>フリガナ</p></div>
			<div class="explain_text">
				<%= @customer.yomi_sei %><%= @customer.yomi_mei %>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>郵便番号</p></div>
			<div class="explain_text">
				<%= @customer.postal_code.insert(3, '-') %>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>住所</p></div>
			<div class="explain_text">
				<%= @customer.address %>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>電話番号</p></div>
			<div class="explain_text">
				<%= @customer.tell %>
			</div>
		</div>
		<div class="customer_content">
			<div class="admin_c_label"><p>メールアドレス</p></div>
			<div class="explain_text">
				<%= @customer.email %>
			</div>
		</div>

		<div class="c_button">
			<div class="btn btn-primary active">
				<%= link_to "編集する", edit_admins_customer_path(@customer.id) %>
			</div>
			<div class="btn btn-primary active">
				<%= link_to "注文一覧", admins_order_lists_path %>
			</div>
		</div>
</div>