<div class="midasi">
	<h2><%= @customer.name_sei %><%= @customer.name_mei %>さんの会員詳細</h2>
</div>

<div class="product_form">
		<div class="picture">
			<%= attachment_image_tag @product, :picture, size: "100x100" %>
		</div>
		<div class="product_name">
			<div class="customer_label"><p>顧客ID</p></div>
			<%= @customer.id %>
			<%= @customer.status %>
		</div>
		<div class="product_description">
			<div class="customer_label"><p>氏名</p></div>
			<%= @customer.name_sei %><%= @customer.name_mei %>
		</div>
		<div class="product_genre">
			<div class="customer_label"><p>フリガナ</p></div>
			<%= @customer.yomi_sei %><%= @customer.yomi_mei %>
		</div>
		<div class="product_price">
			<div class="customer_label"><p>郵便番号</p></div>
			<%= @customer.postal_code %>
		</div>
		<div class="product_status">
			<div class="customer_label"><p>住所</p></div>
			<%= @customer.address %>
		</div>
		<div class="product_status">
			<div class="customer_label"><p>電話番号</p></div>
			<%= @customer.tell %>
		</div>
		<div class="product_status">
			<div class="customer_label"><p>メールアドレス</p></div>
			<%= @customer.email %>
		</div>
		<div class="customer_button">
			<%= link_to "編集する", edit_admins_customer_path(@customer.id) %>
		</div>
		<div class="customer_button">
			<%= link_to "注文一覧", admins_order_lists_path %>
		</div>
</div>