<h1>マイページ</h1>
<h2>登録情報</h2><a><%= link_to '編集する', customers_fix_path %></a><a><%= link_to 'パスワード変更', edit_customer_registration_path %></a>
<table>
	<tr>
		<th>氏名</th>
		<td><%= @user.name_sei %> <%= @user.name_mei %></td>
	</tr>
	<tr>
		<th>カナ</th>
		<td><%= @user.yomi_sei %> <%= @user.yomi_mei %></td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td><%= @user.postal_code %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= @user.address %></td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td><%= @user.tell %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= @user.email %></td>
	</tr>
</table>
<h2>配送先</h2><a><%= link_to '一覧を表示', customers_shipping_addresses_path %></a>
<h2>登録情報</h2><a><%= link_to '一覧を表示', customers_order_lists_path %></a>