<div class="container">
  <div class="row">

<%= render 'layouts/sidebar', genres: @genres %>

    <div class="col-xs-10">
     <div class="top-body">
        <%= link_to @product_path do %>
        <% end %>
        <p class="product-image">
        <%= attachment_image_tag @product, :picture, format:'jpeg', size:"250x250" %></p>
        <div class="product-text">
        <p class="product-title"><%= @product.name %><br></p>
        <p class="product-description"><%= @product.description %><br></p>
        <p class="product-price">¥<%= @product.price_with_tax(@product.price) %>(税込)</p>
        </div>

    <% if customer_signed_in? %><!-- ログインしているユーザーのみカートボタン表示 -->
        <div class="cart">
        <%= form_for @product_new, url: customers_cart_products_path, method: :POST do |f| %>
        <%= f.select :number,[1,2,3,4,5,6,7,8,9,10], :pronpt => "個数選択", class: 'sentaku' %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <!-- 商品のidをカート商品idに入れる -->
        <%= f.submit "カートに入れる", class:"btn btn-primary" %><br>
        <% end %>
        <!-- method: :POSTはPOSTに飛ぶための記述 -->
        </div>
    <% end %>
     </div>
    </div>
  </div>
</div>