<div class="container">
  <div class="row">
<%= render 'layouts/sidebar' %>
    <div class="col-xs-9">
     <div class="top-body">
     
                <%= attachment_image_tag @product, :picture, format:'jpeg', size:"20x20" %>
                <%= @product.name %>
                <%= @product.description %>
                <%= @product.price %>
                <%= link_to "カートへ入れる","/customers/cart_products/" %>
                <% end %>

     </div>
    </div>
  </div>
</div>