<div class="container">
  <div class="row">

<%= render 'layouts/sidebar', genres: @genres %>

    <div class="col-xs-10">
     <div class="top-body">
        <%= link_to @product_path do %>
        <% end %>
        <p class="product-image">
            <%= attachment_image_tag @product, :picture, format:'jpeg', size:"250x250" %>
        </p>
        <div class="product-text">
        <div class="favorite">
            <% if current_customer %>
                 <% if @product.favorited_by?(current_customer) %>
                    <%= link_to customers_product_favorites_path(@product), method: :delete do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        <%= @product.favorites.count %>
                    <% end %>
                <% else %>
                    <%= link_to customers_product_favorites_path(@product), method: :post do %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <%= @product.favorites.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= @product.favorites.count %>
            <% end %>
            </div>
        <p class="product-title"><%= @product.name %><br></p>
        <p class="product-description"><%= @product.description %><br></p>
        <p class="product-price">¥<%= @product.price_with_tax(@product.price) %>(税込)</p>
        </div>
    <div class="col-xs-6">
    <% if current_customer %><!--  ログインしているユーザーを指定（ログインしていない場合何も表示しない） -->
        <% if @product.sales_status == "sale" %><!--  整数でいじれない -->
            <div class="cart">
            <%= form_for @product_new, url: customers_cart_products_path, method: :POST do |f| %>
                <%= f.select :number,[1,2,3,4,5,6,7,8,9,10], :pronpt => "個数選択", class: 'sentaku' %>
                <%= f.hidden_field :product_id, :value => @product.id %>
                <!-- 商品のidをカート商品idに入れる -->
                <%= f.submit "カートに入れる", class:"btn btn-primary" %><br>
                <!-- method: :POSTはPOSTに飛ぶための記述 -->
            <% end %>
        <% else %>
            <p>この商品は売り切れです。</p>
            </div>
        <% end %>
    <% end %>

     </div>
    </div>

    <div class="row">
 
        <!-- コメント表示部分 -->
        <% @product.post_comments.each do |post_comment| %>
         <div class="comment_text">
           <%= post_comment.comment %>
        <% end %>
    </div>
        <!-- コメント表示部分 -->

        <!-- コメント入力フォーム -->


        <!-- コメント入力フォーム -->
        
     </div>
     </div>
    </div>
  </div>
</div>



