<div class="container">
  <div class="row">
<%= render 'layouts/sidebar' %>
    <div class="col-xs-9">
     <div class="top-body">
        <%= link_to @product_path do %>
        <% end %>
        <p class="product-image">
        <%= attachment_image_tag @product, :picture, format:'jpeg', size:"250x250" %></p>
        <div class="product-text">
        <p class="product-title"><%= @product.name %><br></p>
        <p class="product-description"><%= @product.description %><br></p>
        <p class="product-price">¥<%= @product.price_with_tax(@product.price) %>(税込)</p>
        </div>
        
        <div class="cart">      
        <%= form_for [@product, @cart_product], url: customers_product_cart_products_path(@product), method: :post do |f| %>
        <%= f.number_field :number %>
        <%= f.submit "カートに入れる", class:"btn btn-primary" %>
        <% end %>
        </div>

     </div>
    </div>
  </div>
</div>