<div class="container">
  <div class="row">
<%= render 'layouts/sidebar', genres: @genres %>
    <div class="col-xs-10">
     <div class="main-body">
        
        <!-- <div class="main-visual">
        　<p class="main-text">
        	ようこそ、NaganoCakeへ！<br>
        	このサイトは、ケーキ販売のECサイトになります。<br>
        	会員でない方も商品の閲覧はできますが、<br>
        	購入には会員登録が必要になります。<br>
          </p>
        </div> -->

        <div class="container1"> <!-- jQuery版 -->
            <div id="theTarget">
              <div class="cake1"></div>
              <div class="cake2"></div>
              <div class="cake3"></div>
              <div class="cake4"></div>
              <div class="cake5"></div>
            </div>
              <p class="main-text1 box" id="js-target">
                このサイトは製作者が<br>小学校でこころのノートを読んでいないため、<br>
                他人を傷つける表現や、<br>
                不適切な内容が含まれております<br>
                予めご了承いただきますようよろしくお願いします<br>
                ぱーかばーか
              </p>
        </div>
　　　
   　<h3 class="osusume"><i class="fas fa-star"></i>オヌヌメ<i class="fas fa-star"></i></h3>

          <% @products.each do |product| %>
          <div class="col-md-3">
             <div>
              　<div class="product-page">
                <%= link_to customers_product_path(product.id) do %>
                  <%= attachment_image_tag product, :picture, format:'jpeg', size:"200x200" %><br>
                  <div class="product_price1"><%= product.name %><br></div>
                  <p class="product_price2"><%= product.price_with_tax(product.price) %>円</p><br>
                </div>
                <% end %>
             </div>
           </div>
         <% end %>
     <%= link_to "もっと見る>>>", "/customers/products/", class:"more" %>
     <%= flash[:error] %>
     </div>
     </div>
  </div>
</div>