<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
		<h2 class="product_index_title">注文確認画面<i class="fas fa-cookie-bite"></i></h2><br>
		<table class="table1">
			<thead>
				<tr>
					<th class="table1"></th>
					<th class="table1">商品名</th>
        　　　　　	<th class="table1">単価（税込）</th>
        　　　　　	<th class="table1">数量</th>
        　　　　　	<th class="table1">小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_products.each do |cart_product| %>
				<tr>
					<td class="table1"><%= attachment_image_tag cart_product.product, :picture, format: 'jpeg', fallback: "no_image.jpg", size: "150x110" %></td>
					<td class="table1"><%= cart_product.product.name %></td>
					<td class="table1"><%= (cart_product.product.price * 1.1).to_i %>円</td>
					<td class="table1"><%= cart_product.number %></td>
					<td class="table1"><%= (cart_product.product.price * 1.1).to_i * cart_product.number %>円</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<div>
		<table>
				<tr>
					<th class="table2">送料：</th>
              		<td class="table2"><%= @postage.cost %>円(税込)</td>
            	</tr>
            	<tr>
					<th class="table2">商品合計：</th>
              		<td class="table2"><%= current_customer.total_cart_price %>円(税込)</td>
            	</tr><br>
				<tr>
					<th><p class="total_pprice1">請求金額：</p></th>
              		<td><p class="total_pprice2"><%= current_customer.total_cart_price + @postage.cost%>円(税込)</p></td>
            	</tr>
      	</table>
    </div>
	<div>
		<h3 class="product_index_title">〜 お支払方法 〜</h3>
			<%= @order_list.payment_method %>
			<!-- byebugはhtmlではdeha""のように記述 -->
	</div>

	<div>
		<h3 class="product_index_title">〜 お届け先 〜</h3>
		<%= form_with model:@order_list, local: true, url: customers_order_lists_path, method: :post do |f| %>
		<!-- form_withは探してくるファイルを.Jsで探すのがデフォルト。formforはhtml -->
			<!-- 各指定カラム名表示 -->
			 <% if params[:order_list][:address_method] == "self_address" %>
				<%= @order_list.postal_code %>
				<%= @order_list.address %>
				<%= @order_list.shipping_name %>
  				<%= f.hidden_field :shipping_name, :value => @order_list.shipping_name %>
  				<%= f.hidden_field :postal_code, :value => @order_list.postal_code %>
  				<%= f.hidden_field :address, :value => @order_list.address %>

			<% elsif params[:order_list][:address_method] == "registered_address" %>
				<%= @order_list.postal_code %>
				<%= @order_list.address %>
				<%= @order_list.shipping_name %>
  				<%= f.hidden_field :shipping_name, :value => @order_list.shipping_name %>
  				<%= f.hidden_field :postal_code, :value => @order_list.postal_code %>
  				<%= f.hidden_field :address, :value => @order_list.address %>

			<% elsif params[:order_list][:address_method] == "new_address" %>
				<%= @shipping_address.postal_code %>
				<%= @shipping_address.address %>
				<%= @shipping_address.name %>
  				<%= f.hidden_field :shipping_name, :value => @shipping_address.name %>
  				<%= f.hidden_field :postal_code, :value => @shipping_address.postal_code %>
  				<%= f.hidden_field :address, :value => @shipping_address.address %>
			<% end %>

  			<%= f.hidden_field :total_price, :value => current_customer.total_cart_price %>
  			<%= f.hidden_field :shipping_fee, :value => @postage.cost %>
  			<%= f.hidden_field :payment_method, :value => @order_list.payment_method %>

		<div class="right">
			<%= f.submit '購入を確定する', class:"btn btn-primary btn1  fa-lg" %>
		</div>
  		<% end %>
  	</div>
	</div>
  </div>
</div>







