<h1>注文確認画面</h1>

<div>
	<table>
		<thead>
			<tr>
				<th>商品名</th>
        　　　　　<th>単価（税込）</th>
        　　　　　<th>数量</th>
        　　　　　<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<% @cart_products.each do |cart_product| %>
			<tr>
				<td><%= attachment_image_tag cart_product.product, :picture, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><%= cart_product.product.name %></td>
				<td><%= (cart_product.product.price * 1.1).to_i %>円(税込)</td>
				<td><%= cart_product.number %></td>
				<td><%= (cart_product.product.price * 1.1).to_i * cart_product.number %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div>
	<table>
			<tr>
              　<th>送料</th>
              	<td><%= 800 %>円</td>
            </tr>
            <tr>
              　<th>商品合計</th>
              	<td><%= @total_price %>円(税込)</td>
            </tr>

            <tr>
              　<th>請求金額</th>
              	<td><%= @total_price + 800%>円</td>
            </tr>
      </table>
    </div>
</div>
<div>
	<h4>支払い方法</h4>
	<%= session[:input]["payment"] %>
	<!-- byebugはhtmlではdeha""のように記述 -->
</div>
<div>
	<h4>お届け先</h4>
	<!-- 各指定カラム名表示 -->
	<%= session[:input]["postal_code"] %>
	<%= session[:input]["address"] %>
	<%= session[:input]["name"] %>
</div>
<div>
	<%= form_with model:@order_list, local: true, url: customers_order_lists_path, method: :post do |f| %>
	<!-- form_withは探してくるファイルを.Jsで探すのがデフォルト。formforはhtml -->

  			<%= f.hidden_field :shipping_name, :value => session[:input]["name"] %>
  			<%= f.hidden_field :postal_code, :value => session[:input]["postal_code"] %>
  			<%= f.hidden_field :address, :value => session[:input]["address"] %>
  			<%= f.hidden_field :total_price, :value => @total_price %>
  			<%= f.hidden_field :postage, :value => 800 %>
  			<%= f.hidden_field :payment_method, :value => session[:input]["payment"] %>
<div>
		<%= f.submit '購入を確定する' %>
</div>
  	<% end %>
</div>







