<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->

      <h2 class="product_index_title">購入者情報の入力<i class="fas fa-cookie-bite"></i></h2><br>
      <h3 class="product_index_title">〜 お支払方法 〜</h3>

      <%= form_with model:@order_list, local: true, url: customers_order_lists_confirm_path, method: :get do |f| %>
      <!-- formforはモデルと関連づけなければいけない。form_withはモデルと関連づけなくていい -->
       <div class="col-md-12 ml-4">
          <label class="placement">
         <%= f.collection_select :payment_method, PaymentMethod.where(status: true), :method, :method %>
          </label>
       </div><br>

      <h3 class="product_index_title">〜 お届け先 〜</h3>
      <div class="col-md-12 ml-4">
          <label class="placement">
          <!-- if文を使用、判別はaddress_method -->
            <%= f.radio_button :address_method, 'self_address' %>ご自身の住所：
          </label>
              <%= current_customer.postal_code %>
              <%= current_customer.address %>
              <%= current_customer.name_sei %>
              <%= current_customer.name_mei %><br>
          <label class="placement">
            <%= f.radio_button :address_method, 'registered_address' %>登録済み住所から選択：
          </label>
            <%= select_tag "select", options_from_collection_for_select(current_customer.shipping_addresses, :id, :full_address) %><br>
            <!-- full_address：shipping_addresseモデルに記述 -->
          <label class="placement">
            <%= f.radio_button :address_method, 'new_address' %>新しいお届け先：
          </label>
          <%= text_field_tag 'shipping_address[postal_code]','', placeholder: "郵便番号" %>
          <%= text_field_tag 'shipping_address[address]','', placeholder: "住所" %>
          <%= text_field_tag 'shipping_address[name]','', placeholder: "宛名" %><br>
            <p class="right">
            <%= f.submit '確認画面へ進む', class:"btn btn-primary btn1 fa-lg" %>
            </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- form_with -->