<div class="container">
	<div class="row">
	    <div class="order_list_show_title">
        </div>
           <div class="col-xs-6"><!-- 注文情報 -->

           	 <h3>注文情報 <i class="fas fa-address-card"></i></h3>
           	      <table class="table table-bordered">

										  <tr>
										    <th class="active">注文日</th>
										    <td><%= @order_list.created_at.strftime('%Y/%m/%d %H:%M') %></td>
										  </tr>

										  <tr>
										    <th class="active">配送先</th>
										    <td><%= @order_list.address %></td>
										  </tr>

										  <tr>
										    <th class="active">支払方法</th>
										    <td><%= @order_list.payment_method %></td>
										  </tr>

										  <tr>

										  	<th class="active">ステータス</th>
										  	<td><%= @order_list.status_i18n %></td>

										  </tr>
　

				　         </table>
           </div>


           <div class="col-xs-6"><!-- 請求情報 -->


           	 <h3>請求情報 <i class="fas fa-coins"></i></h3>

	           	 <table class="table table-bordered">

											  <tr>
											    <th class="active">商品合計</th>
											    <td><%= converting_to_jpy(@order_list.total_price) %></td> <!-- 整数にして円表示する -->
											  </tr>

											  <tr>
											    <th class="active">配送料</th>
											    <td><%= converting_to_jpy(@order_list.postage) %></td>
											  </tr>

											  <tr>
											    <th class="active">ご請求額</th>
											    <td><%= converting_to_jpy(@order_list.sum_price) %></td>
											  </tr>

				       </table>

           </div>
          </div>

          <div class="row"><!-- 注文内容 -->
　　　　
　　　　　　　　<h3>注文内容 <i class="fas fa-cookie-bite"></i></h3>
　
　　　　　　　　<table class="table table-bordered">
           	  <thead>
           	     <tr class="active">
           	    	 <th>商品</th>
           	    	 <th>単価(税込)</th>
           	    	 <th>個数</th>
           	    	 <th>小計</th>
           	      </tr>
           	   </thead>

           	      <tbody>

           	   	　　  <% @order_list.order_details.each do |order_detail| %>

					              <tr>
													<td>
														<%= order_detail.product.name %><!-- ※商品名 -->
													</td>
													<td>
														<%= (order_detail.price * 1.1).to_i %>円<!-- ※商品の単価(税込) -->
													</td>
													<td>
														<%= order_detail.number %><!-- ※商品の個数 -->
													</td>
													<td>
														<%= ((order_detail.price) * order_detail.number).to_i %>円<!-- 小計 -->
													</td>
			                </tr>

										<% end %>
			          </tbody>
		   　　　</table>
           </div>
	</div>
</div>