<div class="midasi">
	<h3 class="midasitext">商品一覧</h3>
</div>

<div class="addproduct">
	<%= link_to "", new_admins_product_path, class:'glyphicon glyphicon-plus-sign' %>
</div>

<div class="genrelists">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>いいね</th>
				<th>コメント</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><a href="<%= admins_product_path(product.id) %>"><%= product.name %></a></td>
				<td><%= converting_to_jpy(product.price) %></td>
				<td><%= product.product_genre.genre %></td>
				<td><i class="fa fa-heart-o" aria-hidden="true"></i> <%= product.favorites.count %></td>
				<td><%= product.post_comments.count %> 件</td>
				<td><%= product.sales_status_i18n %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>