<div class="midasi">
	<h3 class="midasitext">商品詳細</h3>
</div>

<div class="contents">
			<div class="admin_picture">
				<%= attachment_image_tag @product, :picture, size: "200x200" %>
			</div>

		<div class="explain">
			<div class="explain_content">
				<div class="admin_label"><p>商品名</p></div>
				<div class="explain_text">
					<%= @product.name %>
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>いいね</p></div>
				<div class="explain_text">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<%= @product.favorites.count %>
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>コメント</p></div>
				<div class="explain_text">
					<i class="fas fa-comments" ></i>
					<%= @product.post_comments.count %>
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>商品説明</p></div>
				<div class="explain_text">
					<%= @product.description %>
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>ジャンル</p></div>
				<div class="explain_text">
					<%= @product.product_genre.genre %>
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>税込価格（税抜価格）</p></div>
				<div class="explain_text">
					<%= converting_to_jpy(@product.price_with_tax(@product.price)) %>（<%= converting_to_jpy(@product.price) %>）
				</div>
			</div>
			<div class="explain_content">
				<div class="admin_label"><p>商品ステータス</p></div>
				<div class="explain_text">
					<%= @product.sales_status_i18n %>
				</div>
			</div>
			<div class="btn btn-primary active">
				<%= link_to "編集する", edit_admins_product_path(@product.id) %>
			</div>
		</div>

		<div class="a_comment">
		<h4>コメント<i class="fas fa-comments"></i></h4>
        <% @product.post_comments.each do |post_comment| %>
         <div>
           <%= post_comment.comment %>
        <% end %>
          </div>
        </div>
</div>