<div class="midasi">
	<h2>商品詳細</h2>
</div>

<div class="product_form">
		<div class="picture">
			<%= attachment_image_tag @product, :picture, size: "100x100" %>
		</div>
		<div class="product_name">
			<div class="product_label"><p>商品名</p></div>
			<%= @product.name %>
		</div>
		<div class="product_description">
			<div class="product_label"><p>商品説明</p></div>
			<%= @product.description %>
		</div>
		<div class="product_genre">
			<div class="product_label"><p>ジャンル</p></div>
			<%= @product.product_genre.genre %>
		</div>
		<div class="product_price">
			<div class="product_label"><p>税込価格（税抜価格）</p></div>
			<%= converting_to_jpy(@product.price_with_tax(@product.price)) %>（<%= converting_to_jpy(@product.price) %>）
		</div>
		<div class="product_status">
			<div class="product_label"><p>商品ステータス</p></div>
			<%= @product.sales_status_i18n %>
		</div>
		<div class="product_button">
			<%= link_to "編集する", edit_admins_product_path(@product.id) %>
		</div>
</div>